<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.graduate.cancerinfocollect"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="21" />

    <application
        android:name="com.graduate.infocollect.InfoCollectApplication"
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        <activity
            android:name="com.graduate.infocollect.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.graduate.infocollect.activity.InputActivity" >
        </activity>
        <activity android:name="com.graduate.infocollect.activity.ViewItemsActivity" >
        </activity>
        <activity android:name="com.graduate.infocollect.activity.AddItemActivity" >
        </activity>
        <activity android:name="com.graduate.infocollect.activity.ShowChartActivity" >
        </activity>
        <activity android:name="com.graduate.infocollect.activity.HelpActivity" >
        </activity>
    </application>

</manifest>